body{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.bottom{
  text-align: left;
}

.navigation,a{
  font-size: 18px;
  color: white;

}

.header{
  background-image: url("./images/the-flatiron-building.png");
  background-size: auto;

}
