body{
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 23px;
  font-weight: bold;
}

.footer{
  text-align: left;
  color: white;
  background-color: dimgray;
  display: block;
}

.copyright{
  font-size: 11px;
  display: inline;
}

.navigation a{
  font-size: 18px;
  color: white;

}

.header{
  background-image: url("./images/the-flatiron-building.png");
  background-size: auto;

}

.process{
  font-size: 32px
}

.designed{
  color: white;
  background-image: url("./images/the-flatiron-building.png");
}

p{
  font-size: 14px;
}
